{% extends 'cmsadmin/index.html' %}

{% block title %}
    更新日志
{% endblock %}

{% block content-header %}
    <h1>更新日志</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{% url 'cmsadmin:site-updaterecord-create' %}'">新增
                        </button>

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="stu_table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>时间</th>
                            <th>作者</th>
                            <th>链接</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in record_list %}
                            <tr>
                                <td>{{ record.id }}</td>
                                <td>{{ record.time }}</td>
                                <td>{{ record.author }}</td>
                                <td>{{ record.url }}</td>
                                <td>{{ record.info }}</td>
                                <td><a href="{% url 'cmsadmin:site-updaterecord-update' record.pk %}">修改</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>id</th>
                            <th>时间</th>
                            <th>作者</th>
                            <th>链接</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block headcss %}
    <!-- DataTables -->
    <link rel="stylesheet"
          href="{% static 'adminlte-2.4.18/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

{% endblock %}

{% block footjs %}
    <!-- DataTables -->
    <script src="{% static 'adminlte-2.4.18/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte-2.4.18/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#stu_table').DataTable({
                "scrollY": '50vh',
                "scrollCollapse": true,
                "paging": false,
                "language": {
                    "search": "搜索：",
                    "zeroRecords": "抱歉，没有任何记录。",
                    "infoFiltered": "(从 _MAX_ 条记录中筛选出)"
                }
            });
        });
    </script>
{% endblock %}