{% extends 'email/base.html' %}

{% block content %}
    <h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
        <span style="color: #12ADDB;font-weight: bold;">&gt; </span>
        综合指导课有新的教师反馈呐~
    </h2>
    <div style="padding:0 12px 0 12px;margin-top:18px">
        <p>现在时间：<span style="border-bottom:1px dashed #ccc;" t="5" times=" 20:42">{% now "Y-m-d H:i" %}</span></p>
        <p>{{ tea_name }}创建了新的综合指导课反馈：</p>
        <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0">
            {{ message }}
        </p>
        <p>备注：</p>
        <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0">
            {{ tea_name }}老师的邮箱是{{ tea_email }}。
        </p>
        <p>建议您尽快处理呢～</p>
    </div>
{% endblock %}