{% extends 'email/base.html' %}

{% block content %}
    <h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
        <span style="color: #12ADDB;font-weight: bold;">&gt; </span>
        您的综合指导课教师反馈处理状态更新了呐~
    </h2>
    <div style="padding:0 12px 0 12px;margin-top:18px">
        <p>现在时间：<span style="border-bottom:1px dashed #ccc;" t="5" times=" 20:42">{% now "Y-m-d H:i" %}</span></p>
        <p>您创建的综合指导课反馈：</p>
        <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0">
            {{ message }}
        </p>
        <p>该预约已被标记为{{ status }}</p>
        <p>备注：</p>
        <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0">
            管理员组的邮箱：<br>
            {% for name, email in admins %}
                {{ name }}:{{ email }}<br>
            {% endfor %}
        </p>
    </div>
{% endblock %}