{% extends 'index.html' %}

{% block title %}
    激活成功
{% endblock %}

{% block content-header %}
    <h1>激活成功</h1>
{% endblock %}

{% block content %}
    <div class="error-page">
        <h2 class="headline text-green"> 欢迎 </h2>
        <div class="error-content">
            <h3><i class="fa fa-check text-green"></i> 您已经成功激活您的账户! </h3>

            <p>
                欢迎您的加入～
            </p>
            <p>
                请点击<a href="{% url 'portal:index' %}">链接</a>返回主页。
            </p>
        </div>
        <!-- /.error-content -->
    </div>
{% endblock %}