{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
    补充个人资料
{% endblock %}

{% block content-header %}
    <h1>补充个人资料</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post">
                    <div class="box-body">
                        {% csrf_token %}
                        {{ form.as_div }}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" value="Save">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block headcss %}
    <!-- bootstrap datepicker -->
    <link rel="stylesheet"
          href="{% static 'adminlte-2.4.18/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block footjs %}
    <!-- bootstrap datepicker -->
    <script src="{% static 'adminlte-2.4.18/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- SlimScroll -->
    <script>
        $(function () {
            //Date picker
            $('#datepicker').datepicker({
                "autoclose": true,
                "setDate": new Date(),
                "format": 'yyyy-mm-dd',
            })
        })

    </script>

    <script>
        $('input[required]').before('<span style="color:red">*</span>');
    </script>

{% endblock %}