{% extends 'index.html' %}

{% block title %}
    补充个人资料
{% endblock %}

{% block content-header %}
    <h1>补充个人资料</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post">
                    <div class="box-body">
                        {% csrf_token %}
                        {{ form.as_div }}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" value="Update">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footjs %}
    <script src="{% static 'laydate5.0.9/laydate.js' %}"></script>
    <script>
        laydate.render({
            elem: '#datepicker',
            trigger: 'click'
        });
    </script>

    <script>
        $('input[required]').before('<span style="color:red">*</span>');
    </script>

{% endblock %}