{% extends 'index.html' %}

{% block title %}
    编辑个人头像
{% endblock %}

{% block content-header %}
    <h1>编辑个人头像</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-bullhorn"></i>

                    <h3 class="box-title">注意！</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="callout callout-warning">
                        <h4>请注意上传图片文件的大小!</h4>

                        <p>建议不超过100KB！</p>
                        <p>网站带宽较小，上传大体积图像会严重影响网页加载速度，进而影响你的使用体验，甚至还会影响到其他人！</p>
                        <p>建议先自行压缩图片后再上传！</p>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        {% csrf_token %}
                        {{ form.as_div }}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" value="Save">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footjs %}
    <script>
        $('input[required]').before('<span style="color:red">*</span>');
    </script>
{% endblock %}