{% extends 'index.html' %}

{% block title %}
    编辑个人资料
{% endblock %}

{% block content-header %}
    <h1>编辑个人资料</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post">
                    <div class="box-body">
                        {% csrf_token %}
                        {{ form.as_div }}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" value="Update">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block headcss %}

{% endblock %}

{% block footjs %}
    <script>
        $("#id_is_graduate").change(function () {
            var url = '{% url 'account_auth:department-ajax' %}';
            var is_graduate = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'is_graduate': is_graduate
                },
                success: function (data) {
                    $("#id_department").html(data);
                }
            });
        });
        $("#id_department").change(function () {
            var url = '{% url 'account_auth:major_ajax' %}';
            var departmentId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'department': departmentId
                },
                success: function (data) {
                    $("#id_major").html(data);
                }
            });
        });
    </script>

    <script>
        $('input[required]').before('<span style="color:red">*</span>');
    </script>

{% endblock %}