{% extends 'index.html' %}

{% block title %}
    查看教师信息
{% endblock %}
{% block content-header %}
    {{ teacher.user_name }}
{% endblock %}
{% block content %}
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
                <div class="widget-user-image">
                    {% if teacher.baseprofile and teacher.baseprofile.head_picture %}
                        <img src="{{ teacher.baseprofile.head_picture.img.url }}" class="img-circle" alt="User Avatar">
                    {% else %}
                        <img src="{% static 'images/headpicture/default2.jpg' %}" class="img-circle" alt="User Avatar">
                    {% endif %}
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">{{ teacher.user_name }}</h3>
                <h5 class="widget-user-desc">
                    老师
                </h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#">邮箱 <span class="pull-right">{{ teacher.email }}</span></a></li>
                    <li>
                        <a href="#">性别
                            <span class="pull-right">
                                {% if teacher.baseprofile.gender %}
                                    女
                                {% else %}
                                    男
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    <li><a href="#">电话 <span class="pull-right">{{ teacher.teacherprofile.phone_number }}</span></a>
                    </li>
                    <li><a href="#">系所 <span class="pull-right">{{ teacher.teacherprofile.department }}</span></a></li>
                    <li><a href="#">办公室 <span class="pull-right">{{ teacher.teacherprofile.office }}</span></a></li>
                </ul>
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="box-title">
                            个人简介
                        </div>
                    </div>
                    <div class="box-body">
                        {{ teacher.teacherprofile.introduce }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
{% endblock %}