{% extends 'email/base.html' %}

{% block content %}
    <h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
        <span style="color: #12ADDB;font-weight: bold;">&gt; </span>
        管理员已帮您在<a style="text-decoration:none;color: #12ADDB;" href="http://{{ domain }}" target="_blank">物理学院</a>注册呐~
    </h2>
    <div style="padding:0 12px 0 12px;margin-top:18px">
            <p>时间：<span style="border-bottom:1px dashed #ccc;" t="5" times=" 20:42">{% now "Y-m-d H:i" %}</span></p>
            <p>请点击下方按钮激活您的账户：</p>
            <a style="font-size:16px;text-decoration:none; color:#FFF;width: 40%;text-align: center;background-color:#002e5d;height: 40px;line-height: 35px;box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.30);margin: -10px auto;display: block;" href="{{ active_url }}" target="_blank">点击激活</a>
            <p>如果您无法点击上方按钮，可以复制下方的链接到浏览器地址栏：</p>
            <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0">{{ active_url }}</p>
            <p>链接有效期为7天</p>
        </div>
{% endblock %}