{% extends 'email/base.html' %}

{% block content %}
    <h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
        <span style="color: #12ADDB;font-weight: bold;">&gt; </span>
        您的账户已被锁定
    </h2>
    <div style="padding:0 12px 0 12px;margin-top:18px">
        <p>时间：<span style="border-bottom:1px dashed #ccc;" t="5" times=" 20:42">{% now "Y-m-d H:i" %}</span></p>
        <p>备注：</p>
        <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0">
            您上次登陆时间为 {{ last_login }}，距现在已超过8周，为了您的账户安全，系统已将您的账户锁定，如需解锁，请重新登陆综合指导课网站激活即可。
        </p>
    </div>
{% endblock %}