{% extends 'email/base.html' %}

{% block content %}
    <h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
        <span style="color: #12ADDB;font-weight: bold;">&gt; </span>
        管理员已帮您在<a style="text-decoration:none;color: #12ADDB;" href="{{ domain }}" target="_blank">物理学院综合指导课系统</a>注册呐~
    </h2>
    <div style="padding:0 12px 0 12px;margin-top:18px">
        <p>时间：<span style="border-bottom:1px dashed #ccc;" t="5" times=" 20:42">{% now "Y-m-d H:i" %}</span></p>
        <p>备注：</p>
        <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0">
            请登录网站补充个人信息，尤其要注意个人邮箱的填写哦～<br>
            为了您的账户安全，系统将自动锁定八周内未登陆系统的账户。如您的账户被锁定，您可再次登陆网站获取激活链接～
        </p>
    </div>
{% endblock %}