[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.2"
loguru = "*"
django-redis = "*"
django-celery-results = "*"
django-celery-beat = "*"
mysqlclient = "*"
itsdangerous = "*"
celery = "*"
requests = "*"
pillow = "*"
uwsgi = "*"

[requires]
python_version = "3.8"
