{% extends 'cmsadmin/index.html' %}
{% load staticfiles %}

{% block title %}
    更多管理
{% endblock %}

{% block content-header %}
    <h1>更多管理</h1>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ total_department_num }}</h3>

                    <p>系所</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="{% url 'cmsadmin:user-department-all' %}" class="small-box-footer">
                    管理 <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ total_major_num }}</h3>

                    <p>专业</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url 'cmsadmin:user-major-all' %}" class="small-box-footer">管理 <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>{{ total_grade_num }}</h3>

                    <p>年级</p>
                </div>
                <div class="icon">
                    <i class="fa fa-comments"></i>
                </div>
                <a href="{% url 'cmsadmin:user-grade-all' %}" class="small-box-footer">管理 <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>
{% endblock %}
