{% extends 'cmsadmin/index.html' %}
{% load staticfiles %}

{% block title %}
    学生列表
{% endblock %}

{% block content-header %}
    学生列表
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <button type="button" class="btn btn-warning"
                                onclick="window.location.href='{% url 'cmsadmin:user_create_many' %}'">批量增加用户
                        </button>
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{% url 'cmsadmin:user_create' %}'">增加用户
                        </button>

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="stu_table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>学号/职工号</th>
                            <th>姓名</th>
                            <th>电子邮件</th>
                            <th>系所</th>
                            <th>专业</th>
                            <th>年级</th>
                            <th>是否激活</th>
                            <th>是否管理员</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in user_list %}
                            <tr>
                                <td>{{ user.identity_id }}</td>
                                <td>{{ user.user_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.studentprofile %}
                                        {{ user.studentprofile.department }}
                                    {% else %}
                                        未填写
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.studentprofile %}
                                        {{ user.studentprofile.major }}
                                    {% else %}
                                        未填写
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.studentprofile %}
                                        {{ user.studentprofile.grade }}
                                    {% else %}
                                        未填写
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.is_active %}
                                        <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                                    {% else %}
                                        <img src="{% static 'admin/img/icon-no.svg' %}" alt="No">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.is_admin %}
                                        <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
                                    {% else %}
                                        <img src="{% static 'admin/img/icon-no.svg' %}" alt="No">
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'cmsadmin:user-detail' user.pk %}">查看</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>学号/职工号</th>
                            <th>姓名</th>
                            <th>电子邮件</th>
                            <th>系所</th>
                            <th>专业</th>
                            <th>年级</th>
                            <th>是否激活</th>
                            <th>是否管理员</th>
                            <th>操作</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block headcss %}
    <!-- DataTables -->
    <link rel="stylesheet"
          href="{% static 'adminlte-2.4.18/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

{% endblock %}

{% block footjs %}
    <!-- DataTables -->
    <script src="{% static 'adminlte-2.4.18/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte-2.4.18/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#stu_table').DataTable({
                "scrollY": '50vh',
                "scrollCollapse": true,
                "paging": false,
                "language": {
                    "search": "搜索：",
                    "zeroRecords": "抱歉，没有任何记录。",
                    "infoFiltered": "(从 _MAX_ 条记录中筛选出)"
                }
            });
        });
    </script>
{% endblock %}