{% extends 'cmsadmin/index.html' %}

{% block title %}
    已删除的用户列表
{% endblock %}

{% block content-header %}
    <h1>已删除的用户列表</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>学号/职工号</th>
                            <th>姓名</th>
                            <th>电子邮件</th>
                            <th>是否激活</th>
                            <th>是否老师</th>
                            <th>是否管理员</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in user_list %}
                            <tr>
                                <td>{{ user.identity_id }}</td>
                                <td>{{ user.user_name }}</td>
                                <td>内测期间隐藏</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.is_active }}</td>
                                <td>{{ user.is_teacher }}</td>
                                <td>{{ user.is_admin }}</td>
                                <td><a href="{% url 'cmsadmin:user-recovery' user.pk %}">恢复</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if page_obj.has_previous %}
                            <li><a href="?page=1">&laquo; 首页</a></li>
                            <li><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">&laquo; 首页</a></li>
                            <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
                        {% endif %}

                        <li class="active">
                            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a>
                        </li>

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}">末页 &raquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
                            <li class="disabled"><a href="javascript:void(0)">末页 &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}