{% extends 'cmsadmin/index.html' %}
{% load meetplan_filter %}

{% block title %}
    用户详情
{% endblock %}

{% block content-header %}
    <h1>用户详情</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{% url 'cmsadmin:user_update' object.pk %}'">编辑
                        </button>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>id</th>
                            <td>{{ object.id }}</td>
                        </tr>
                        <tr>
                            <th>职工号|学号</th>
                            <td>{{ object.identity_id }}</td>
                        </tr>
                        <tr>
                            <th>姓名</th>
                            <td>{{ object.user_name }}</td>
                        </tr>
                        <tr>
                            <th>邮箱</th>
                            <td>{{ object.email }}</td>
                        </tr>
                        <tr>
                            <th>激活状态</th>
                            <td>{{ object.is_active }}</td>
                        </tr>
                        <tr>
                            <th>身份</th>
                            <td>
                                {% if object.is_teacher %}
                                    教职工
                                {% else %}
                                    学生
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>管理员</th>
                            <td>{{ object.is_admin }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
            </div>
            <!-- /.box -->
        </div>

        {% with baseprofile=object.baseprofile %}
            <div class="col-md-4">
                <div class="box">
                    {% if baseprofile %}
                        <div class="box-header">
                            <h3 class="box-title">基本信息</h3>
                            <div class="box-tools">
                                <button type="button" class="btn btn-primary"
                                        onclick="window.location.href='{% url 'cmsadmin:base-profile-update' baseprofile.pk %}'">
                                    编辑
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>性别</th>
                                    <td>
                                        {% if baseprofile.gender %}
                                            女
                                        {% else %}
                                            男
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <th>生日</th>
                                    <td>{{ baseprofile.birth }}</td>
                                </tr>
                                <tr>
                                    <th>头像</th>
                                    <td>
                                        <div class="user-block">
                                            {% if baseprofile.head_picture %}
                                                <img src="{{ baseprofile.head_picture.img.url }}" class="img-circle"
                                                     alt="User Image">
                                            {% else %}
                                                暂未上传自定义头像
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    {% else %}
                        <div class="box-header">
                            <h3 class="box-title">基本信息</h3>
                        </div>
                        <div class="box-body">
                            <div>暂无基本信息.</div>
                        </div>
                    {% endif %}
                </div>
                <!-- /.box -->
            </div>
        {% endwith %}

        {% if object.is_teacher %}
            {% with teacherprofile=object.teacherprofile %}
                <div class="col-md-4">
                    <div class="box">
                        {% if teacherprofile %}
                            <div class="box-header">
                                <h3 class="box-title">详细信息</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-primary"
                                            onclick="window.location.href='{% url 'cmsadmin:teacher-profile-update' teacherprofile.pk %}'">
                                        编辑
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>联系方式</th>
                                        <td>{{ teacherprofile.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <th>系所</th>
                                        <td>{{ teacherprofile.department }}</td>
                                    </tr>
                                    <tr>
                                        <th>办公室</th>
                                        <td>{{ teacherprofile.office }}</td>
                                    </tr>
                                    <tr>
                                        <th>介绍</th>
                                        <td>{{ teacherprofile.introduce }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        {% else %}
                            <div class="box-header">
                                <h3 class="box-title">详细信息</h3>
                            </div>
                            <div class="box-body">
                                <div>暂无详细信息.</div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.box -->
                </div>
            {% endwith %}
        {% else %}
            {% with studentprofile=object.studentprofile %}
                <div class="col-md-4">
                    <div class="box">
                        {% if studentprofile %}
                            <div class="box-header">
                                <h3 class="box-title">详细信息</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-primary"
                                            onclick="window.location.href='{% url 'cmsadmin:student-profile-update' studentprofile.pk %}'">
                                        编辑
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>身份</th>
                                        <td>
                                            {% if studentprofile.is_graduate %}
                                                研究生
                                            {% else %}
                                                本科生
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>手机</th>
                                        <td>{{ studentprofile.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <th>系所</th>
                                        <td>{{ studentprofile.department }}</td>
                                    </tr>
                                    <tr>
                                        <th>专业</th>
                                        <td>{{ studentprofile.major }}</td>
                                    </tr>
                                    <tr>
                                        <th>年级</th>
                                        <td>{{ studentprofile.grade }}</td>
                                    </tr>
                                    <tr>
                                        <th>宿舍</th>
                                        <td>{{ studentprofile.dorm }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        {% else %}
                            <div class="box-header">
                                <h3 class="box-title">详细信息</h3>
                            </div>
                            <div class="box-header">
                                <div>暂无详细信息.</div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.box -->
                </div>
            {% endwith %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">综合指导课情况</h3>
                    <div class="box-tools">
                        {% if object.is_teacher %}
                            <button class="btn btn-primary pull-right"
                                    onclick="window.location.href='{% url 'cmsadmin:meetplan-create-from-teacher' object.pk %}'">
                                新增安排
                            </button>
                        {% else %}
                            <button class="btn btn-primary pull-right"
                                    onclick="window.location.href='{% url 'cmsadmin:meetplanorder-create-from-student' object.pk %}'">
                                新增预约
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="box-body">
                    {% if object.is_teacher %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>计划编号</th>
                                <th>地点</th>
                                <th>日期</th>
                                <th>时间</th>
                                <th>是否允许多人</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% with meetplans=object.meetplan_set.all|in_this_term %}
                                {% for meetplan in meetplans %}
                                    <tr>
                                        <td>{{ meetplan.id }}</td>
                                        <td>{{ meetplan.place }}</td>
                                        <td>{{ meetplan.start_time|date }}</td>
                                        <td>{{ meetplan.start_time|time }}到{{ meetplan.end_time|time }}</td>
                                        <td>
                                            {% if meetplan.allow_other %}
                                                允许
                                            {% else %}
                                                不允许
                                            {% endif %}
                                        </td>
                                        <td><a href="{% url 'cmsadmin:meetplan-detail' meetplan.id %}">查看详情</a></td>
                                    </tr>
                                {% endfor %}
                            {% endwith %}
                            </tbody>
                        </table>
                    {% else %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>日期</th>
                                <th>时间</th>
                                <th>地点</th>
                                <th>教师</th>
                                <th>备注</th>
                                <th>状态</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% with meetplanorders=object.meetplanorder_set.all %}
                                {% for meetplanorder in meetplanorders %}
                                    <tr>
                                        <td>{{ meetplanorder.id }}</td>
                                        <td>{{ meetplanorder.meet_plan.start_time|date }}</td>
                                        <td>{{ meetplanorder.meet_plan.start_time|time }}-{{ meetplanorder.meet_plan.end_time|time }}</td>
                                        <td>{{ meetplanorder.meet_plan.place }}</td>
                                        <td>{{ meetplanorder.meet_plan.teacher.user_name }}</td>
                                        <td>{{ meetplanorder.meet_plan.message }}</td>
                                        {% if meetplanorder.completed %}
                                            <td><span class="label label-success">已确认</span></td>
                                        {% else %}
                                            <td><span class="label label-warning">待确认</span></td>
                                        {% endif %}
                                        <td><a href='{% url 'cmsadmin:meetplanorder-confirm-delete' meetplanorder.id %}'>删除</a></td>
                                    </tr>

                                {% endfor %}
                            {% endwith %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}