{% extends 'cmsadmin/index.html' %}

{% block title %}
    编辑用户
{% endblock %}

{% block content-header %}
    <h1>编辑用户</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post">
                    <div class="box-body">
                        {% csrf_token %}
                        {#TODO 内测结束恢复代码#}
                        {# <p>确定要删除"{{ object }}"?</p> #}
                        <p>确定要删除 "{{ object.user_name }}"?</p>
                        <input type="submit" value="Confirm">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}