{% extends 'index.html' %}

{% block title %}
    综合指导课历史安排
{% endblock %}

{% block content-header %}
    <h1>综合指导课历史安排</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <button type="button" class="btn btn-block btn-primary"
                                onclick="window.location.href='{% url 'meet_plan:tea-plan-add' %}'">增加综合指导课
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->

                {% for meetplan in meetplan_list %}
                    {% if forloop.first %}
                        <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>计划编号</th>
                            <th>地点</th>
                            <th>日期</th>
                            <th>时间</th>
                            <th>是否允许多人</th>
                            <th>操作</th>
                        </tr>
                    {% endif %}
                <tr>
                    <th>{{ meetplan.id }}</th>
                    <th>{{ meetplan.place }}</th>
                    <th>{{ meetplan.start_time|date }}</th>
                    <th>{{ meetplan.start_time|time }}到{{ meetplan.end_time|time }}</th>
                    <th>{{ meetplan.allow_other }}</th>
                    <th><a href="{% url 'meet_plan:tea-plan-detail' meetplan.id %}">查看详情</a></th>
                </tr>
                {% if forloop.last %}
                    </tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                {% endif %}
                {% empty %}
                    <div class="box-body table-responsive no-padding">
                        暂无任何安排
                    </div>
                {% endfor %}
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <!--#上一页-->
                        <!--当有上一页时-->
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="{% url 'meet_plan:tea-plan-list-all' %}?page={{ page_obj.previous_page_number }}">上一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
                        {% endif %}

                        <!--中间的页码，如果是当前页，添加active属性-->

                        {% for page in paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li class="active">
                                    <a href="{% url 'meet_plan:tea-plan-list-all' %}?page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li><a href="{% url 'meet_plan:tea-plan-list-all' %}?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}


                        <!--#下一页-->
                        {% if page_obj.has_next %}
                            <li><a href="{% url 'meet_plan:tea-plan-list-all' %}?page={{ page_obj.next_page_number }}">下一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}