{% extends 'index.html' %}

{% block title %}
    新增综合指导课安排
{% endblock %}

{% block content-header %}
    <h1>新增综合指导课安排</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post">
                    <div class="box-body">
                        {% csrf_token %}
                        {{ form.as_div }}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" value="Save">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block headcss %}
{% endblock %}

{% block footjs %}
    <script src="{% static 'laydate5.0.9/laydate.js' %}"></script>
    <script>
        laydate.render({
            elem: '#date',
            type: 'date',
            theme: 'molv',
            format: 'yyyy-MM-dd',
            min: '{{term_start_date}}',
            max: '{{term_end_date}}'
        });
        laydate.render({
            elem: '#time',
            type: 'time',
            theme: 'molv',
            format: 'HH:mm',
            min: '{{term_start_date}}',
            max: '{{term_end_date}}'
        });
    </script>

    <script>
        $('input[required]').before('<span style="color:red">*</span>');
    </script>
{% endblock %}