{% extends 'index.html' %}

{% block title %}
    综合指导课详情
{% endblock %}

{% block content-header %}
    <h1>综合指导课详情</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{% url 'meet_plan:tea-plan-add' %}'"> 新增
                        </button>
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{% url 'meet_plan:tea-plan-update' plan.pk %}'">编辑
                        </button>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>计划编号</th>
                            <th>地点</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>是否允许多人</th>
                        </tr>

                        <tr>
                            <td>{{ plan.id }}</td>
                            <td>{{ plan.place }}</td>
                            <td>{{ plan.start_time }}</td>
                            <td>{{ plan.end_time }}</td>
                            <td>{{ plan.allow_other }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    <div class="row">
        {% with mtos=plan.meetplanorder_set.all %}
            {% if mtos %}
                {% for mto in mtos %}
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">预约{{ forloop.counter }}</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>预约编号</th>
                                        <td>{{ mto.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>学生姓名</th>
                                        <td>
                                            <a href="{% url 'account_auth:stu-detail' mto.student_id %}">{{ mto.student.user_name }}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>学号</th>
                                        <td>{{ mto.student.identity_id }}</td>
                                    </tr>
                                    <tr>
                                        <th>状态</th>
                                        {% if mto.completed %}
                                            <td>已确认</td>
                                        {% else %}
                                            <th>待确认</th>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <th style="width: 30%;">备注</th>
                                        <td style="width: 70%; white-space: normal">{{ mto.message }}</td>
                                    </tr>
                                    <tr>
                                        <th>操作</th>
                                        {% if not mto.completed %}
                                            <td><a href="{% url 'meet_plan:tea-order-update' mto.id %}">确认</a></td>
                                        {% else %}
                                            <td><a href="{% url 'meet_plan:tea-order-update' mto.id %}">已确认</a></td>
                                        {% endif %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-xs-12">
                    <div>暂时还没有同学预约.</div>
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}