{% extends 'cmsadmin/index.html' %}

{% block title %}
    编辑综合指导课选课情况
{% endblock %}

{% block content-header %}
    <h1>编辑综合指导课选课情况</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post">
                    <div class="box-body">
                        {% csrf_token %}
                        {{ form.as_div }}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" value="Update">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
