{% extends 'cmsadmin/index.html' %}
{% load staticfiles %}

{% block title %}
    新增综合指导课安排
{% endblock %}

{% block content-header %}
    新增综合指导课安排
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post">
                    <div class="box-body">
                        {% csrf_token %}
                        {{ form.as_div }}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" value="Save">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footjs %}
    <script src="{% static 'laydate5.0.9/laydate.js' %}"></script>
    <script>
        laydate.render({
            elem: '#starttimepicker',
            type: 'datetime',
            theme: 'molv',
            format: 'yyyy/MM/dd HH:mm'
        });
        laydate.render({
            elem: '#endtimepicker',
            type: 'datetime',
            theme: 'molv',
            format: 'yyyy/MM/dd HH:mm'
        });
    </script>

    <script>
        $('input[required]').before('<span style="color:red">*</span>');
    </script>

{% endblock %}