{% extends 'cmsadmin/index.html' %}

{% block title %}
    综合指导课报表文件列表
{% endblock %}

{% block content-header %}
    <h1>综合指导课报表文件列表</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{% url 'cmsadmin:meetplan-report-teacher-create' %}'">
                            生成教师报表
                        </button>
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{% url 'cmsadmin:meetplan-report-student-create' %}'">
                            生成学生报表
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>文件id</th>
                            <th>用户</th>
                            <th>文件名</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>


                        <tbody>
                        {% for report_file in report_file_list %}
                            <tr>
                                <td>{{ report_file.id }}</td>
                                <td>{{ report_file.user.user_name }}</td>
                                <td>{{ report_file.file.name }}</td>
                                <td>{{ report_file.remark }}</td>
                                <td><a href="{{ report_file.file.url }}">下载</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if page_obj.has_previous %}
                            <li><a href="?page=1">&laquo; 首页</a></li>
                            <li><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">&laquo; 首页</a></li>
                            <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
                        {% endif %}

                        <li class="active">
                            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a>
                        </li>

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}">末页 &raquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
                            <li class="disabled"><a href="javascript:void(0)">末页 &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}