{% extends 'cmsadmin/index.html' %}

{% block title %}
    反馈列表
{% endblock %}

{% block content-header %}
    <h1>反馈列表</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div>
                <!-- /.box-header -->

                {% for feedback in feedback_list %}
                    {% if forloop.first %}
                        <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>反馈编号</th>
                            <th>教师</th>
                            <th>教师职工号</th>
                            <th>内容</th>
                            <th>处理状态</th>
                            <th>操作</th>
                        </tr>
                    {% endif %}
                <tr>
                    <th>{{ feedback.id }}</th>
                    <th>{{ feedback.teacher.user_name }}</th>
                    {#TODO 内测结束恢复代码#}
                    <th>内测期间隐藏</th>
                    {#<th>{{ feedback.teacher.identity_id }}</th>#}
                    <th>{{ feedback.message }}</th>
                    <th>
                        {% if feedback.have_checked %}
                            <span class="label label-success">已回应</span>
                        {% else %}
                            <span class="label label-warning">待处理</span>
                        {% endif %}
                    </th>
                    <th>
                        {% if feedback.have_checked %}
                            <a href="#">无法更改</a>
                        {% else %}
                            <a href="{% url 'cmsadmin:feedback_update' feedback.id %}">处理</a>
                        {% endif %}
                    </th>
                </tr>
                {% if forloop.last %}
                    </tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                {% endif %}
                {% empty %}
                    <div class="box-body table-responsive no-padding">
                        暂无任何反馈
                    </div>
                {% endfor %}
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <!--#上一页-->
                        <!--当有上一页时-->
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="{% url 'cmsadmin:feedback_all' %}?page={{ page_obj.previous_page_number }}">上一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
                        {% endif %}

                        <!--中间的页码，如果是当前页，添加active属性-->

                        {% for page in paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li class="active">
                                    <a href="{% url 'cmsadmin:feedback_all' %}?page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li><a href="{% url 'cmsadmin:feedback_all' %}?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}


                        <!--#下一页-->
                        {% if page_obj.has_next %}
                            <li><a href="{% url 'cmsadmin:feedback_all' %}?page={{ page_obj.next_page_number }}">下一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}