{% extends 'index.html' %}
{% load meetplan_filter %}
{% load cache %}

{% block title %}
    综合指导课
{% endblock %}

{% block content-header %}
    <h1>综合指导课</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div>
                <!-- /.box-header -->

                {% for teacher in teacher_list %}
                    {% if forloop.first %}
                        <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>教师姓名</th>
                            <th>系所</th>
                            <th>学期安排数</th>
                            <th>剩余安排数</th>
                            <th>剩余可选人数</th>
                            <th>操作</th>
                        </tr>
                    {% endif %}
                <tr>

                    {% cache 2592000 meetplan_teacher_name_and_department teacher.id %}
                        <td>{{ teacher.user_name }}</td>
                        <td>{{ teacher.teacherprofile.department }}</td>
                    {% endcache %}

                    {% with meetplans=teacher.meetplan_set.all|in_this_term %}

                        {% cache 86400 meetplan_meetplan_total_num teacher.id %}
                            {% with meetplan=meetplans|in_this_term %}
                                <td>{{ meetplan|length }}</td>
                            {% endwith %}
                        {% endcache %}

                        {% cache 3600 meetplan_meetplan_avail_num teacher.id %}
                            {% with meetplan=meetplans|in_this_term_after_now %}

                                <td>{{ meetplan|length }}</td>
                            {% endwith %}
                        {% endcache %}

                        {% cache 1800 meetplan_meetplan_order_avail_num teacher.id %}
                            {% with meetplan=meetplans|in_this_term_after_now %}
                                {% with num=meetplan|available_order_num %}
                                    <td>{{ num }}</td>
                                    {% if num %}
                                        <td><a href="{% url 'meet_plan:stu-tea-plan-list' teacher.pk %}">查看</a></td>
                                    {% else %}
                                        <td>已选完</td>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% endcache %}


                    {% endwith %}
                </tr>
                {% if forloop.last %}
                    </tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                {% endif %}
                {% empty %}
                    <div class="box-body table-responsive no-padding">
                        暂无任何安排
                    </div>
                {% endfor %}
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <!--#上一页-->
                        <!--当有上一页时-->
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="{% url 'meet_plan:stu-all-tea-all-plan-list' %}?page={{ page_obj.previous_page_number }}">上一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
                        {% endif %}

                        <!--中间的页码，如果是当前页，添加active属性-->

                        {% for page in paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li class="active">
                                    <a href="{% url 'meet_plan:stu-all-tea-all-plan-list' %}?page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'meet_plan:stu-all-tea-all-plan-list' %}?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}


                        <!--#下一页-->
                        {% if page_obj.has_next %}
                            <li>
                                <a href="{% url 'meet_plan:stu-all-tea-all-plan-list' %}?page={{ page_obj.next_page_number }}">下一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}