{% extends 'index.html' %}
{% load cache %}

{% block title %}
    综合指导课安排列表
{% endblock %}

{% block content-header %}
    <h1>综合指导课安排列表</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">选择 <a
                            href="{% url 'account_auth:tea-detail' teacher_id %}"><b>{{ teacher_name }}</b></a>
                        老师本学期的时间安排</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>时间</th>
                            <th>地点</th>
                            <th>备注</th>
                            <th>多人</th>
                            <th>剩余名额</th>
                            <th>点击预约</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for plan in plan_list %}
                            <tr>

                                {% cache None meetplan_plan_detail plan.id %}
                                    <td>{{ plan.start_time | date }}</td>
                                    <td>{{ plan.start_time | time }}到{{ plan.end_time | time }}</td>
                                    <td>{{ plan.place }}</td>
                                    <td>{{ plan.message }}</td>
                                    <td>{{ plan.allow_other }}</td>
                                {% endcache %}

                                <td>{{ plan.available_choice }} </td>
                                {% if not plan.available %}
                                    <td>已过期</td>
                                {% elif plan.available_choice %}
                                    <td><a href="{% url 'meet_plan:stu-order-create' plan.id %}">预约</a></td>
                                {% else %}
                                    <td>已选满</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if page_obj.has_previous %}
                            <li><a href="?page=1">&laquo; 首页</a></li>
                            <li><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">&laquo; 首页</a></li>
                            <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
                        {% endif %}

                        <li class="active">
                            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a>
                        </li>

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}">末页 &raquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
                            <li class="disabled"><a href="javascript:void(0)">末页 &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}