{% extends 'index.html' %}

{% block title %}
    综合指导课安排列表
{% endblock %}

{% block content-header %}
    <h1>综合指导课安排列表</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">选择 <b>{{ teacher_name }}</b> 老师本学期的时间安排</h4>
                    <div class="box-tools">
                        {#                    <button type="button" class="btn btn-block btn-primary" onclick="window.location.href='{% url 'meet_plan:tea-plan-add' %}'">增加综合指导课</button>#}
                    </div>
                </div>
                <!-- /.box-header -->

                {% for plan in plan_list %}
                    {% if forloop.first %}
                        <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>日期</th>
                            <th>时间</th>
                            <th>地点</th>
                            <th>备注</th>
                            <th>剩余名额</th>
                            <th>多人</th>
                            <th>点击预约</th>
                        </tr>
                    {% endif %}
                <tr>
                    <td>{{ plan.start_time | date }}</td>
                    <td>{{ plan.start_time | time }}到{{ plan.end_time | time }}</td>
                    <td>{{ plan.place }}</td>
                    <td>{{ plan.message }}</td>
                    <td>{{ plan.available_choice }} </td>
                    <td>{{ plan.allow_other }}</td>
                    {% if not plan.available %}
                        <td>已过期</td>
                    {% elif plan.available_choice %}
                        <td><a href="{% url 'meet_plan:stu-order-create' plan.id %}">预约</a></td>
                    {% else %}
                        <td>已选满</td>
                    {% endif %}
                </tr>
                {% if forloop.last %}
                    </tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                {% endif %}
                {% empty %}
                    <div class="box-body table-responsive no-padding">
                        该老师暂无任何安排
                    </div>
                {% endfor %}
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <!--#上一页-->
                        <!--当有上一页时-->
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="{% url 'meet_plan:stu-tea-plan-list' teacher_id %}?page={{ page_obj.previous_page_number }}">上一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
                        {% endif %}

                        <!--中间的页码，如果是当前页，添加active属性-->

                        {% for page in paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li class="active">
                                    <a href="{% url 'meet_plan:stu-tea-plan-list' teacher_id %}?page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'meet_plan:stu-tea-plan-list' teacher_id %}?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}


                        <!--#下一页-->
                        {% if page_obj.has_next %}
                            <li>
                                <a href="{% url 'meet_plan:stu-tea-plan-list' teacher_id %}?page={{ page_obj.next_page_number }}">下一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}