{% extends 'index.html' %}
{% load meetplan_filter %}
{% block title %}
    综合指导课
{% endblock %}

{% block content-header %}
    <h1>综合指导课</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div>
                <!-- /.box-header -->

                {% for teacher in teacher_list %}
                    {% if forloop.first %}
                        <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>教师姓名</th>
                            <th>系所</th>
                            <th>学期安排数</th>
                            <th>剩余安排数</th>
                            <th>剩余可选人数</th>
                            <th>操作</th>
                        </tr>
                    {% endif %}
                <tr>
                    <td>{{ teacher.user_name }}</td>
                    <td>{{ teacher.teacherprofile.department }}</td>
                    {% with meetplans=teacher.meetplan_set.all|in_this_term %}
                        {% with meetplan=meetplans|in_this_term %}
                            <td>{{ meetplan|length }}</td>
                        {% endwith %}
                        {% with meetplan=meetplans|in_this_term_after_now %}
                            <td>{{ meetplan|length }}</td>
                            {% with num=meetplan|available_num %}
                                <td>{{ num }}</td>
                                {% if num %}
                                    <td><a href="{% url 'meet_plan:stu-tea-plan-list' teacher.pk %}">查看</a></td>
                                {% else %}
                                    <td><a href="javascript:void(0)">已选完</a></td>
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                </tr>
                {% if forloop.last %}
                    </tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                {% endif %}
                {% empty %}
                    <div class="box-body table-responsive no-padding">
                        暂无任何安排
                    </div>
                {% endfor %}
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}