{% extends 'base.html' %}

{% block title %}
    首页
{% endblock %}

{% block subtitle %}
    综合指导课
{% endblock %}

{% block logo %}
    <a href="{% url 'portal:index' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>P</b>hy</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>综合指导课</b></span>
    </a>
{% endblock %}

{% block usermenu %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if user.baseprofile and user.baseprofile.head_picture %}
            <img src="{{ user.baseprofile.head_picture.img.url }}" class="user-image" alt="User Image">
        {% else %}
            <img src="{% static 'images/headpicture/default2.jpg' %}" class="user-image" alt="User Image">
        {% endif %}
        <span class="hidden-xs">{{ user.user_name }}</span>
    </a>
    {% if user.is_authenticated %}
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                {% if user.baseprofile and user.baseprofile.head_picture %}
                    <img src="{{ user.baseprofile.head_picture.img.url }}" class="img-circle" alt="User Image">
                {% else %}
                    <img src="{% static 'images/headpicture/default2.jpg' %}" class="img-circle" alt="User Image">
                {% endif %}
                <p>
                    {% if user.is_admin %}
                        管理员
                    {% elif user.is_teacher %}
                        教师
                    {% else %}
                        学生
                    {% endif %}
                    {{ user.user_name }}
                    <small>从{{ user.create_time|date }}加入</small>
                </p>
            </li>
            <li class="user-footer">
                <div class="pull-left">
                    <a href="{% url 'account_auth:baseprofileimg_add' %}" class="btn btn-default btn-flat">修改头像</a>
                </div>
                <div class="pull-right">
                    <a href="{% url 'account_auth:logout' %}" class="btn btn-default btn-flat">注销</a>
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block sidebarmenu %}
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">菜单栏</li>
        <li>
            <a href="{% url 'portal:index' %}"><i class="fa fa-home"></i>
                <span>首页</span>
            </a>
        </li>
        {% if user.is_authenticated %}
            {% if user.is_admin %}
                <li>
                    <a href="{% url 'cmsadmin:index' %}"><i class="glyphicon glyphicon-wrench"></i>
                        <span>管理员后台</span>
                    </a>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}"><i class="fa  fa-user-secret"></i>
                        <span>超级管理员后台</span>
                    </a>
                </li>
            {% endif %}

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>个人中心</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'account_auth:useremail_update' user.pk %}"><i
                            class="fa fa-circle-o"></i> 修改邮件</a></li>
                    <li><a href="{% url 'account_auth:baseprofile_add' %}"><i class="fa fa-circle-o"></i>修改基本信息</a></li>
                    {% if user.is_teacher %}
                        <li><a href="{% url 'account_auth:teacher-profile-create' %}"><i
                                class="fa fa-circle-o"></i>修改个人详细资料</a></li>
                    {% else %}
                        <li><a href="{% url 'account_auth:student-profile-create' %}"><i
                                class="fa fa-circle-o"></i>修改个人详细资料</a></li>
                    {% endif %}
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tv"></i> <span>综合指导课</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    {% if not user.is_teacher %}
                        <li><a href="{% url 'meet_plan:stu-index' %}"><i class="fa fa-circle-o"></i> 概览 </a></li>
                        <li><a href="{% url 'meet_plan:stu-all-tea-all-plan-list' %}"><i class="fa fa-circle-o"></i>
                            课程列表 </a></li>

                    {% else %}
                        <li><a href="{% url 'meet_plan:tea-index' %}"><i class="fa fa-circle-o"></i> 概览 </a></li>
                        <li><a href="{% url 'meet_plan:tea-plan-add' %}"><i class="fa fa-circle-o"></i> 增加安排 </a></li>
                        <li><a href="{% url 'meet_plan:tea-plan-list-all' %}"><i class="fa fa-circle-o"></i> 历史安排 </a>
                        </li>
                        <li><a href="{% url 'meet_plan:tea-planorder-list-all' %}"><i class="fa fa-circle-o"></i>
                            历史预约</a></li>
                        <li><a href="{% url 'meet_plan:tea-feedback-list' %}"><i class="fa fa-circle-o"></i> 使用反馈 </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'portal:contact' %}"><i class="fa fa-home"></i>
                <span>联系我们</span>
            </a>
        </li>
        <li>
            <a href="{% url 'portal:friendlink' %}"><i class="fa fa-home"></i>
                <span>友情链接</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content-header %}
    <h1>首页</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="alert alert-success">
                        <h4><i class="icon fa fa-check"></i>欢迎！</h4>
                        如您在使用过程中遇到任何问题，都可以与学工办<a href="mailto:zhangfanpku@pku.edu.cn">张帆</a>
                        或16级<a href="mailto:rxgao@pku.edu.cn">郜瑞啸</a>联系，再次感谢您的支持！
                        <ul>
                            <li>您可以点击左边个人中心更改您的邮件地址（默认为职工号|学号邮箱）</li>
                            <li>您可以点击右上方头像上传您的照片或退出登录</li>
                            <li>您可以在左侧菜单栏中点击综合指导课进入相关页面</li>
                            <li>您可以在左侧联系我们页面找到本站全部管理员的联系方式</li>
                        </ul>
                    </div>
                    <div class="alert alert-info">
                        <h4><i class="icon fa fa-info"></i> 新增功能!(2020/09/30)</h4>
                        {% if user.is_teacher %}
                            <li>教职工现已可以自助完成学生综合指导课预约记录的补录！</li>
                            <li>点击<a href="{% url 'meet_plan:tea-order-add' %}">补录预约</a>填写相关信息即可！</li>
                        {% else %}
                            <li>学生现已可以自助申请补录综合指导课预约！</li>
                            <li>点击<a href="{% url 'meet_plan:stu-order-add' %}">补录预约</a>填写相关信息即可！</li>
                            <li>当然不要忘了提醒老师确认你的预约哦～</li>
                        {% endif %}
                    </div>
                    <div class="alert alert-warning">
                        <h4><i class="icon fa fa-warning"></i> 本项目现已开源在<a
                                href="https://github.com/RainshawGao/MeetPlan">Github</a>中，
                            欢迎有能力的同学参与开发～</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-yellow">
                        2020-10-14
                    </span>
                </li>
                <li>
                    <i class="fa fa-comment-o bg-yellow"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a href="https://github.com/RainshawGao/MeetPlan">Rainshaw</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li> fix: 修改404、403页面相关描述</li>
                            </ul>
                        </div>
                        <div class="timeline-footer">
                        </div>
                    </div>
                </li>

                <li class="time-label">
                    <span class="bg-red">
                        2020-09-30
                    </span>
                </li>
                <li>
                    <i class="fa fa-comment-o bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a href="https://github.com/RainshawGao/MeetPlan">Rainshaw</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li> feat: 增加非活跃账户自动封锁功能</li>
                                <li> feat: 增加发邮件频率限制</li>
                                <li> feat: 增加学生自助申请补录功能</li>
                                <li> feat: 提供 requirements.txt</li>
                            </ul>
                        </div>
                        <div class="timeline-footer">
                        </div>
                    </div>
                </li>

                <li class="time-label">
                    <span class="bg-blue">
                        2020-09-23
                    </span>
                </li>
                <li>
                    <i class="fa fa-comment-o bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a href="https://github.com/RainshawGao/MeetPlan">Rainshaw</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li> fix: 新生邮箱后缀改为 stu.pku.edu.cn</li>
                                <li> feat: 修改教师补录时间限制</li>
                            </ul>
                        </div>
                        <div class="timeline-footer">
                        </div>
                    </div>
                </li>

                <li class="time-label">
                    <span class="bg-green">
                        2020-09-17
                    </span>
                </li>
                <li>
                    <i class="fa fa-comment-o bg-green"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a href="https://github.com/RainshawGao/MeetPlan">Rainshaw</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li> 正式上线</li>
                                <li> 以往 commits 请前往<a href="https://github.com/RainshawGao/MeetPlan">Github</a>查看</li>
                            </ul>
                        </div>
                        <div class="timeline-footer">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
