{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    首页
{% endblock %}

{% block subtitle %}
    物理学院师生服务
{% endblock %}

{% block logo %}
    <a href="{% url 'portal:index' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>P</b>hy</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>PHY</b>服务</span>
    </a>
{% endblock %}

{% block usermenu %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if user.userprofile and user.userprofile.head_picture %}
            <img src="{{ user.userprofile.head_picture.img.url }}" class="user-image" alt="User Image">
        {% else %}
            <img src="{% static 'images/headpicture/default.jpg' %}" class="user-image" alt="User Image">
        {% endif %}
        <span class="hidden-xs">{{ user.user_name }}</span>
    </a>
    {% if user.is_authenticated %}
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                {% if user.userprofile and user.userprofile.head_picture %}
                    <img src="{{ user.userprofile.head_picture.img.url }}" class="img-circle" alt="User Image">
                {% else %}
                    <img src="{% static 'images/headpicture/default.jpg' %}" class="img-circle" alt="User Image">
                {% endif %}
                <p>
                    {% if user.is_admin %}
                        管理员
                    {% elif user.is_teacher %}
                        教师
                    {% else %}
                        学生
                    {% endif %}
                    {{ user.user_name }}
                    <small>从{{ user.create_time|date }}加入</small>
                </p>
            </li>
            <li class="user-footer">
                <div class="pull-left">
                    <a href="{% url 'account_auth:userprofileimg_add' %}" class="btn btn-default btn-flat">修改头像</a>
                </div>
                <div class="pull-right">
                    <a href="{% url 'account_auth:logout' %}" class="btn btn-default btn-flat">注销</a>
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block sidebarmenu %}
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">菜单栏</li>
        <li>
            <a href="{% url 'portal:index' %}"><i class="fa fa-home"></i>
                <span>首页</span>
            </a>
        </li>
        {% if user.is_authenticated %}
            {% if user.is_admin %}
                <li>
                    <a href="{% url 'cmsadmin:index' %}"><i class="glyphicon glyphicon-wrench"></i>
                        <span>管理员后台</span>
                    </a>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}"><i class="fa  fa-user-secret"></i>
                        <span>超级管理员后台</span>
                    </a>
                </li>
            {% endif %}

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>个人中心</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'account_auth:useremail_update' user.pk %}"><i
                            class="fa fa-circle-o"></i> 修改邮件</a></li>
                    {% if user.is_teacher %}
                        <li><a href="{% url 'account_auth:teacher-profile-create' %}"><i
                                class="fa fa-circle-o"></i>修改个人详细资料</a></li>
                    {% else %}
                        <li><a href="{% url 'account_auth:student-profile-create' %}"><i
                                class="fa fa-circle-o"></i>修改个人详细资料</a></li>
                    {% endif %}
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tv"></i> <span>综合指导课</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    {% if not user.is_teacher %}
                        <li><a href="{% url 'meet_plan:stu-index' %}"><i class="fa fa-circle-o"></i> 概览 </a></li>
                        <li><a href="{% url 'meet_plan:stu-all-tea-all-plan-list' %}"><i class="fa fa-circle-o"></i>
                            课程列表 </a></li>

                    {% else %}
                        <li><a href="{% url 'meet_plan:tea-index' %}"><i class="fa fa-circle-o"></i> 概览 </a></li>
                        <li><a href="{% url 'meet_plan:tea-plan-add' %}"><i class="fa fa-circle-o"></i> 增加安排 </a></li>
                        <li><a href="{% url 'meet_plan:tea-plan-list-all' %}"><i class="fa fa-circle-o"></i> 历史安排 </a>
                        </li>
                        <li><a href="{% url 'meet_plan:tea-feedback-list' %}"><i class="fa fa-circle-o"></i> 使用反馈 </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'portal:contact' %}"><i class="fa fa-home"></i>
                <span>联系我们</span>
            </a>
        </li>
        <li>
            <a href="{% url 'portal:friendlink' %}"><i class="fa fa-home"></i>
                <span>友情链接</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content-header %}
    <h1>首页</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>欢迎！</h4>
                        感谢您参与网站的内测，如您在使用过程中遇到任何问题，都可以与学工办<a href="mailto:zhangfanpku@pku.edu.cn">张帆</a>
                        或16级<a href="mailto:rxgao@pku.edu.cn">郜瑞啸</a>联系，再次感谢您的支持！
                    </div>
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> 注意!</h4>
                        本次内测不留档，内测结束时会删除全部数据！内测阶段仍然以<a href="http://zhzdk.phy.ruixiaolu.com">原综合指导课</a>网站为准！
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://s1.ax1x.com/2020/03/19/8sa5c9.jpg"
                                     alt="First slide">

                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item">
                                <img src="https://ae01.alicdn.com/kf/H27dea0e3a955448482198945f58ed5beU.jpeg"
                                     alt="Second slide">

                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item">
                                <img src="https://ae01.alicdn.com/kf/Hc63cc777b053425e80a0df6179145f85R.jpeg"
                                     alt="Third slide">

                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item">
                                <img src="https://ae01.alicdn.com/kf/Hd28dd7de3cbd41da9a2797a88f40d2f6C.jpeg"
                                     alt="Fourth slide">

                                <div class="carousel-caption">

                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
