{% extends 'base.html' %}

{% block title %}
    首页
{% endblock %}

{% block subtitle %}
    综合指导课
{% endblock %}

{% block logo %}
    <a href="{% url 'portal:index' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>P</b>hy</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>综合指导课</b></span>
    </a>
{% endblock %}

{% block usermenu %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if user.baseprofile and user.baseprofile.head_picture %}
            <img src="{{ user.baseprofile.head_picture.img.url }}" class="user-image" alt="User Image">
        {% else %}
            <img src="{% static 'images/headpicture/default2.jpg' %}" class="user-image" alt="User Image">
        {% endif %}
        <span class="hidden-xs">{{ user.user_name }}</span>
    </a>
    {% if user.is_authenticated %}
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                {% if user.baseprofile and user.baseprofile.head_picture %}
                    <img src="{{ user.baseprofile.head_picture.img.url }}" class="img-circle" alt="User Image">
                {% else %}
                    <img src="{% static 'images/headpicture/default2.jpg' %}" class="img-circle" alt="User Image">
                {% endif %}
                <p>
                    {% if user.is_admin %}
                        管理员
                    {% elif user.is_teacher %}
                        教师
                    {% else %}
                        学生
                    {% endif %}
                    {{ user.user_name }}
                    <small>从{{ user.create_time|date }}加入</small>
                </p>
            </li>
            <li class="user-footer">
                <div class="pull-left">
                    <a href="{% url 'account_auth:baseprofileimg_add' %}" class="btn btn-default btn-flat">修改头像</a>
                </div>
                <div class="pull-right">
                    <a href="{% url 'account_auth:logout' %}" class="btn btn-default btn-flat">注销</a>
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block sidebarmenu %}
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">菜单栏</li>
        <li>
            <a href="{% url 'portal:index' %}"><i class="fa fa-home"></i>
                <span>首页</span>
            </a>
        </li>
        {% if user.is_authenticated %}
            {% if user.is_admin %}
                <li>
                    <a href="{% url 'cmsadmin:index' %}"><i class="glyphicon glyphicon-wrench"></i>
                        <span>管理员后台</span>
                    </a>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}"><i class="fa  fa-user-secret"></i>
                        <span>超级管理员后台</span>
                    </a>
                </li>
            {% endif %}

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>个人中心</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'account_auth:useremail_update' user.pk %}"><i
                            class="fa fa-circle-o"></i> 修改邮件</a></li>
                    <li><a href="{% url 'account_auth:baseprofile_add' %}"><i class="fa fa-circle-o"></i>修改基本信息</a></li>
                    {% if user.is_teacher %}
                        <li><a href="{% url 'account_auth:teacher-profile-create' %}"><i
                                class="fa fa-circle-o"></i>修改个人详细资料</a></li>
                    {% else %}
                        <li><a href="{% url 'account_auth:student-profile-create' %}"><i
                                class="fa fa-circle-o"></i>修改个人详细资料</a></li>
                    {% endif %}
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tv"></i> <span>综合指导课</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    {% if not user.is_teacher %}
                        <li><a href="{% url 'meet_plan:stu-index' %}"><i class="fa fa-circle-o"></i> 概览 </a></li>
                        <li><a href="{% url 'meet_plan:stu-all-tea-all-plan-list' %}"><i class="fa fa-circle-o"></i>
                            课程列表 </a></li>

                    {% else %}
                        <li><a href="{% url 'meet_plan:tea-index' %}"><i class="fa fa-circle-o"></i> 概览 </a></li>
                        <li><a href="{% url 'meet_plan:tea-plan-add' %}"><i class="fa fa-circle-o"></i> 增加安排 </a></li>
                        <li><a href="{% url 'meet_plan:tea-plan-list-all' %}"><i class="fa fa-circle-o"></i> 历史安排 </a>
                        </li>
                        <li><a href="{% url 'meet_plan:tea-feedback-list' %}"><i class="fa fa-circle-o"></i> 使用反馈 </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'portal:contact' %}"><i class="fa fa-home"></i>
                <span>联系我们</span>
            </a>
        </li>
        <li>
            <a href="{% url 'portal:friendlink' %}"><i class="fa fa-home"></i>
                <span>友情链接</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content-header %}
    <h1>首页</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="alert alert-success">
                        <h4><i class="icon fa fa-check"></i>欢迎！</h4>
                        如您在使用过程中遇到任何问题，都可以与学工办<a href="mailto:zhangfanpku@pku.edu.cn">张帆</a>
                        或16级<a href="mailto:rxgao@pku.edu.cn">郜瑞啸</a>联系，再次感谢您的支持！
                        <ul>
                            <li>您可以点击左边个人中心更改您的邮件地址（默认为职工号|学号邮箱）</li>
                            <li>您可以点击右上方头像上传您的照片或退出登录</li>
                            <li>您可以在左侧菜单栏中点击综合指导课进入相关页面</li>
                            <li>您可以在左侧联系我们页面找到本站全部管理员的联系方式</li>
                        </ul>
                    </div>
                    <div class="alert alert-info">
                        <h4><i class="icon fa fa-info"></i> 新增功能!</h4>
                        <li>教职工现已可以自助完成学生综合指导课预约记录的补录！</li>
                        {% if user.is_teacher %}
                            <li>点击<a href="{% url 'meet_plan:tea-order-add' %}">补录预约</a>填写相关信息即可！</li>
                        {% else %}
                            <li>请谈话老师到<a href="{% url 'meet_plan:tea-order-add' %}">补录预约</a>填写相关信息即可！</li>
                            <li>该页面学生是无法访问的哦T^T，你可以右击选择复制链接地址，并将该链接地址发送给老师:)。</li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">综合指导课说明 For 学生</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-file-text-o margin-r-5"></i></strong>

                    <p><a href="{% static 'files/meetplan/物理学院综合指导课手册.pdf' %}">《物理学院综合指导课手册》下载</a></p>

                    <hr/>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i></strong>

                    <p>如果你身边有转系同学无法访问本网站，请让其辅导员提供学生姓名学号向学工办申请账号。</p>

                    <hr/>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i></strong>

                    <p>未在网上完成选课的同学可通过选课教师在后台补录，具体方法参见上面通知。</p>

                    <hr/>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i></strong>

                    <p>建议物理学院本科生低年级每学期选课2次，有助于尽早确定科研方向。高年级可以用本研指导代替不超过3次的综合指导课课程。
                        毕业前要求完成8次选课，记一个必修学分。每学期完成课程次数不设上限。
                        如需多次选课请手动提交纸质版证明到物理学院学生工作办公室。
                    </p>

                    <hr/>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i></strong>

                    {#                    <p><a href="{% static 'files/meetplan/综合指导课选课证明.pdf' %}">《综合指导课选课证明》下载</a></p>#}
                    <p><a href="{% static 'files/meetplan/本科生科研训练证明.pdf' %}">《本科生科研训练证明》下载</a></p>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">综合指导课说明 For 教师</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> 使用流程</strong>
                    <ul>
                        <li>添加时间安排</li>
                        <li>如有同学选择了您的预约谈话，您将收到电子邮件通知，您也可以在综合指导课概览页面右侧看到具体的预约TimeLine</li>
                        <li>和学生谈话完成后，请及时登录系统“确认”与相应同学的谈话</li>
                    </ul>
                    <hr/>
                    <strong><i class="fa fa-file-text-o margin-r-5"></i>有同学参与了谈话，但没有经过网上预约，如果添加记录？</strong>
                    <ul>
                        <li>记录同学姓名、日期、时间、地点</li>
                        <li>登录选课系统，点击综合指导课-概览页面的补录预约按钮</li>
                        <li>填写相关信息即可补录成功。</li>
                    </ul>
                    <hr/>
                    <strong><i class="fa fa-file-text-o margin-r-5"></i>误删了同学记录怎么办？</strong>
                    <ul>
                        <li>找到同学预约时收到的Email，复制内容</li>
                        <li>如果找不到预约Email，记录同学姓名、日期、时间、地点</li>
                        <li>登录选课系统，点击"综合指导课"-"概览"页面的"<a href="{% url 'meet_plan:tea-order-add' %}">补录预约</a>"按钮</li>
                        <li>填写相关信息即可补录成功。</li>
                    </ul>
                    <hr/>
                    <strong><i class="fa fa-file-text-o margin-r-5"></i>数据有问题怎么办？</strong>
                    <ul>
                        <li>找到同学预约时收到的Email，复制内容。</li>
                        <li>如果找不到预约Email，记录同学姓名、日期、时间、地点。</li>
                        <li>登录选课系统，点击综合指导课-使用反馈页面，新增反馈。</li>
                        <li>或直接与管理员邮件联系。</li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
