{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    首页
{% endblock %}

{% block subtitle %}
    后台管理系统
{% endblock %}

{% block logo %}
    <a href="{% url 'cmsadmin:index' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>C</b>MS</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>CMS</b>后台管理</span>
    </a>
{% endblock %}

{% block usermenu %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if user.baseprofile and user.baseprofile.head_picture %}
            <img src="{{ user.baseprofile.head_picture.img.url }}" class="user-image" alt="User Image">
        {% else %}
            <img src="{% static 'images/headpicture/default2.jpg' %}" class="user-image" alt="User Image">
        {% endif %}
        <span class="hidden-xs">{{ user.user_name }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            {% if user.baseprofile and user.baseprofile.head_picture %}
                <img src="{{ user.baseprofile.head_picture.img.url }}" class="img-circle" alt="User Image">
            {% else %}
                <img src="{% static 'images/headpicture/default2.jpg' %}" class="img-circle" alt="User Image">
            {% endif %}
            <p>
                管理员 {{ user.user_name }}
                <small>从{{ user.create_time|date }}加入</small>
            </p>
        </li>
        <li class="user-footer">
            <div class="pull-right">
                <a href="{% url 'account_auth:logout' %}" class="btn btn-default btn-flat">注销</a>
            </div>
        </li>
    </ul>
{% endblock %}

{% block sidebarmenu %}
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">菜单栏</li>
        <li>
            <a href="{% url 'portal:index' %}"><i class="fa fa-mail-reply-all"></i>
                <span>返回网站首页</span>
            </a>
        </li>
        <li>
            <a href="{% url 'cmsadmin:index' %}"><i class="fa fa-home"></i>
                <span>管理员后台</span>
            </a>
        </li>
        {% if user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}"><i class="fa  fa-user-secret"></i>
                    <span>超级管理员后台</span>
                </a>
            </li>
        {% endif %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i> <span>人员管理</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{% url 'cmsadmin:user_teacher_all' %}"><i class="fa fa-circle-o"></i> 教师列表</a></li>
                <li><a href="{% url 'cmsadmin:user_student_all' %}"><i class="fa fa-circle-o"></i> 学生列表</a></li>
                <li><a href="{% url 'cmsadmin:user_delete_list' %}"><i class="fa fa-circle-o"></i> 已删除用户管理</a></li>
                <li><a href="{% url 'cmsadmin:user-other-management' %}"><i class="fa fa-circle-o"></i> 其他信息管理</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-tv"></i> <span>综合指导课管理</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{% url 'cmsadmin:meetplan_all' %}"><i class="fa fa-circle-o"></i> 综合指导课安排 </a></li>
                <li><a href="{% url 'cmsadmin:meetplanorder_all' %}"><i class="fa fa-circle-o"></i> 综合指导课预约表 </a></li>
                <li><a href="{% url 'cmsadmin:feedback_all' %}"><i class="fa fa-circle-o"></i> 查看教师反馈 </a></li>
                <li><a href="{% url 'cmsadmin:meetplan-termdate-update' %}"><i class="fa fa-circle-o"></i> 设置学期日期 </a>
                </li>
                <li><a href="{% url 'cmsadmin:meetplan-report-all' %}"><i class="fa fa-circle-o"></i> 导出报表文件 </a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content-header %}
    <h1>后台管理首页</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ total_user_num }}</h3>

                    <p>用户数</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="{% url 'cmsadmin:user_teacher_all' %}" class="small-box-footer">
                    更多信息 <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ meetplan_total_num }}</h3>

                    <p>综合指导课历史总安排数</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url 'cmsadmin:meetplan_all' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>{{ meetplan_this_term_total_num }}</h3>

                    <p>综合指导课本学期安排数</p>
                </div>
                <div class="icon">
                    <i class="fa fa-comments"></i>
                </div>
                <a href="{% url 'cmsadmin:meetplan_all' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ meetplanorder_this_term_total_num }}</h3>

                    <p>综合指导课本学期预约数</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'cmsadmin:meetplanorder_all' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>{{ meetplan_feedback_num }}</h3>

                    <p>综合指导课教师反馈数</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'cmsadmin:feedback_all' %}" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    CMS后台管理
{% endblock %}