{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}
    联系我们
{% endblock %}

{% block content-header %}
    <h1>联系我们</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#about" data-toggle="tab">关于我们</a></li>
                    <li><a href="#admins" data-toggle="tab">管理员列表</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="about">
                        待补充
                    </div>
                    <div class="tab-pane" id="admins">
                        <div class="row">
                            {% for admin in admin_list %}
                                <div class="col-md-6">
                                    <div class="box box-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-aqua-active">
                                            <h3 class="widget-user-username">{{ admin.user_name }}</h3>
                                            <h5 class="widget-user-desc">
                                                {% if admin.is_teacher %}
                                                    {{ admin.teacherprofile.department }}
                                                {% else %}
                                                    {{ admin.studentprofile.department }}
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <div class="widget-user-image">
                                            {% if admin.baseprofile and admin.baseprofile.head_picture %}
                                                <img src="{{ admin.baseprofile.head_picture.img.url }}"
                                                     class="img-circle" alt="User Avatar">
                                            {% else %}
                                                <img src="{% static 'images/headpicture/default.jpg' %}"
                                                     class="img-circle"
                                                     alt="User Avatar">
                                            {% endif %}
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">邮箱</h5>
                                                        <span>{{ admin.email }}</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">电话</h5>
                                                        <span>
                                        {% if admin.is_teacher %}
                                            {{ admin.teacherprofile.phone_number }}
                                        {% else %}
                                            {{ admin.studentprofile.phone_number }}
                                        {% endif %}
                                    </span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-sm-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">办公室</h5>
                                                        <span>
                                        {% if admin.is_teacher %}
                                            {{ admin.teacherprofile.office }}
                                        {% else %}
                                            无
                                        {% endif %}
                                    </span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}