{% extends 'index.html' %}

{% block title %}
    友情链接
{% endblock %}

{% block content-header %}
    <h1>友情链接</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#friendlink" data-toggle="tab">友情链接</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="friendlink">
                        <div class="row">
                            {% for friendlink in friendlink_list %}
                                <div class="col-md-4">
                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="{{ friendlink.image.img.url }}"
                                                 alt="user image">
                                            <span class="username"><a
                                                    href="{{ friendlink.url }}">{{ friendlink.name }}</a></span>
                                            <span class="description">{{ friendlink.description }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}